<div class="pl-2">
    <div class="list-inline">
        <h3 class="list-inline-item">
            <b>
                <%= handle %>'s Blog
            </b>
        </h3>
    </div>

    <div class="mb-2">
        <!-- blog title -->
        <h3>
            <a href="/blog/entry/<%= blog.ID %>" class="my-link"> <%= blog.TITLE %> </a>
        </h3>
        <!-- author + time -->
        <ul class="list-inline">
            <li class="list-inline-item my-small-text">
                By <%- include('../../../partials/handle', {handle : blog.AUTHOR, color : blog.COLOR}) %>, <%= blog.CREATION_TIME %> <%= (blog.CREATION_TIME == 'now')? '' : ' ago' %>
            </li>
            <!-- Edit option -->
            <% if(user !== null && user.handle == blog.AUTHOR) { %>
                <li class="list-inline-item my-small-text float-right">
                    <a href="/blog/entry/<%= blog.ID %>/edit">edit text</a> 
                </li>
            <% } %>
        </ul>
        <!-- body -->
        <div class="my-blog-post">
            <p class="px-3">
                <%= blog.BODY %>
            </p>
        </div>
        <div class="mb-1">
            <span class="text-info">tags: </span>
            <span class="text-muted"><%= blog.TAGS.map(x=>'#'+x).join(', ') %></span>
        </div>
        <!-- info -->
        <div class="card">
            <ul class="list-inline card-body py-1 my-card-no-bottom">
                <!-- votes -->
                <li class="list-inline-item my-vote-cnt <%= blog.VOTE_CNT == 0? 'text-muted' : (blog.VOTE_CNT > 0? 'text-success' : 'text-danger')%>">
                    <b>
                        <%= (blog.VOTE_CNT > 0? '+' : '') + blog.VOTE_CNT %>
                    </b>
                </li>
                <!-- upvote -->
                <% if(blog.VOTED == 'UP'){ %>
                    <li class="list-inline-item" >
                        <button id='<%= blog.ID %>_null_up' class="btn btn-link my-non-btn" <%-'onclick="removeVote(' + blog.ID + ', null)"'%>>
                            <b>upvoted</b> 
                        </button>
                    </li>
                <% } else { %>
                    <li class="list-inline-item" >
                        <button id='<%= blog.ID %>_null_up' class="btn btn-link my-non-btn" <%-'onclick="addVote(' + blog.ID + ', true, null)"'%>>
                            upvote
                        </button>
                    </li>
                <% } %>
                <!-- downvote -->
                <% if(blog.VOTED == 'DOWN'){ %>
                    <li class="list-inline-item" >
                        <button id='<%= blog.ID %>_null_down' class="btn btn-link my-non-btn" <%-'onclick="removeVote(' + blog.ID + ', null)"'%>>
                            <b>downvoted</b>  
                        </button>
                    </li>
                <% } else { %>
                    <li class="list-inline-item" >
                        <button id='<%= blog.ID %>_null_down' class="btn btn-link my-non-btn" <%-'onclick="addVote(' + blog.ID + ', false, null)"'%>>
                            downvote
                        </button>
                    </li>
                <% } %>
                <!-- comment cnt -->
                <li class="list-inline-item float-right">
                    <a href="/blog/entry/<%= blog.ID %>" class="my-link"> <%= blog.CMNT_CNT %> comments </a>
                </li>
            </ul>
        </div>
    </div>  
    <div class="mb-2">
        <!-- <button onclick="replyPrompt(this, null)" class="my-non-btn btn btn-link"> 
            write comment
        </button> -->
        <button class="my-non-btn btn btn-link" onclick="replyBtn(this)" data-target="#_null_cmnt" data-toggle="collapse"> 
            reply
        </button>
        <form method="POST" class="collapse" id="_null_cmnt">
            <input name="id" type="hidden" value="null">
            <textarea name="body" id="" rows="3" class="form-control" required ></textarea>
            <input type="submit" value="post" class="btn btn-primary py-1 mt-1">
        </form>
    </div>
    <!-- comments -->
    <% comments.forEach(x =>{ %>
        <%- include('../../../partials/comment', {cmnt : x}) %>
    <% }) %>
    
</div>

<%- include('../../../partials/voteScript') %>

<script>
    function replyBtn(node){
        if(node.innerHTML.trim() == 'reply')
            node.innerHTML = 'cancel';
        else
            node.innerHTML = 'reply';
    }
</script>