<h2 class="text-primary mt-5">
    New topic
</h2>
<form action="<%= postURL %>" method="POST">
    <!-- title input -->
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" required value="<%= (typeof form != 'undefined')? form.title : '' %>">
    </div>
    <!-- content input -->
    <div class="form-group">
        <label for="body">Content</label>
        <textarea class="form-control" name="body" rows="20" required><%= (typeof form != 'undefined')? form.body : '' %></textarea>
    </div>
    <!-- tags input -->
    <div class="form-group">
        <input type="hidden" id="tagList" name="tagList" value="<%= typeof form == 'undefined'? '' : (',' + form.tags.join(',')) %>">
        <label for="tag">Tags:</label>
        <div class="my-autocomplete">
            <div class="row pl-3">
                <input type="text" class="form-control" name="tag" id="tag" autocomplete="off" style="width:30%;">
                <button class="ml-2 px-4 my-button" type="button" onclick="addTag()"> Add tag </button>
            </div>
        </div>
        <!-- tag list -->
        <ul style="list-style-type: none;" class="px-0" id="tags">  
            <% if(typeof form != 'undefined') { %>
                <% for(let i = 0; i<form.tags.length; i++){ %>
                    <li class="my-1">
                        <button type="button" onclick="removeTag( '<%= form.tags[i] %>' )" id="tag_<%= form.tags[i] %>">
                            ⨉ <%= form.tags[i] %>
                        </button>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </div>
    <!-- buttons -->
    <div class="form-group row">
        <div class="col mx-auto text-center">
            <!-- submit -->
            <input type="submit" value="Post" class="btn btn-primary">
            <% if(postURL !== '/blog/new') { %>
                <!-- delete -->
                <button type="button" onclick="deletePost('<%= form.id %>')" class="btn btn-danger ml-5"> Delete </button>
            <% } %>
        </div>
    </div>

    <% if(postURL !== '/blog/new') { %>
        <%- `<script> let user = '` + user.handle + `'</script>` %>
        <script>
            function deletePost(blogId){
                let xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    //console.log(this.responseText);
                    window.location.href = `/profile/${user}/blog`;    
                };
                xhttp.open("DELETE", "/blog/entry/" + blogId + "/edit", true);
                xhttp.send();
            }
        </script>
    <% } %>
    
    <%- '<script>var tags = '+JSON.stringify(tags)+'; </script>' %>
    <script>
        function autocomplete(inp, arr) {
            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "my-autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function(e) {
                        inp.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                    }
                }
            });
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("my-autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        function addTag(){
            let inp = document.getElementById('tag');
            let t = inp.value;
            inp.value = '';
            let h = document.getElementById('tagList');
            if(t == '' || t.includes(' ') || h.value.includes(',' + t))
                return;
                
            h.value += ','+t;
            let tagsElmnt = document.getElementById('tags');
            let l = document.createElement('LI');
            l.className = 'my-1';
            l.innerHTML =`<button type="button" onclick="removeTag('` + t + `')" id="tag_`+ t +`">⨉ ` + t + `</button>`;
            tagsElmnt.appendChild(l);
        }
        function removeTag(t){
            let h = document.getElementById('tagList');
            h.value = h.value.replace(',' + t, '');
            let l = document.getElementById('tag_' + t);
            l.parentNode.removeChild(l);
        }
        autocomplete(document.getElementById('tag'), tags);
    </script>
    
</form>