<!-- profile -->
<div class="card border-secondary px-3 py-2">
    <div class="row">
        <!-- left side -->
        <div class="col">
            <!-- rank -->
            <div class="py-2 my-bold" <%-'style="color:' + profile.COLOR + '"'%> >
                <%= profile.RANK_NAME %>
            </div> 
            <!-- handle header -->
            <div class="py-2 my-handle-header my-bold" <%-'style="color:' + profile.COLOR + '"'%> >
                <%= profile.HANDLE %>
            </div> 
            <!-- name, country, city, organizatin block -->
            <div class="py-2">
                <!-- name, country, city -->
                <% if(profile.NAME !== '' || profile.CITY !== null || profile.COUTNRY !== null){ %>
                    <div class="text-muted">
                        <%= [profile.NAME, profile.CITY, profile.COUNTRY].filter(x => (x !== null && x !== '')).join(', ') %>
                    </div> 
                <% } %>
                <!-- organization -->
                <% if(profile.ORGANIZATION !== null) { %>
                    <div class="text-muted">
                        From <%= profile.ORGANIZATION %>
                    </div> 
                <% } %>
            </div>
            <!-- add friend/remove friend -->
            <% if(user !== null && user.handle != profile.HANDLE){ %>
                <div class="py-2">
                    <button class="btn btn-link my-non-btn" id="friendBtn" <%- `onclick="updateFriend('` +  profile.HANDLE + `')"` %> >
                        <%= (profile.IS_FRIEND)? 'Remove friend' : 'Add friend' %>
                    </button>
                </div>
            <% } %>
            <!-- email -->
            <div class="py-2">
                Email: <%= profile.EMAIL %>
            </div> 
            <!-- rating -->
            <% if(profile.RATING !== null){ %>
                <div class="py-2">
                    Contest rating: <%= profile.RATING %>
                </div> 
            <% } %>
            <!-- friend count -->
            <div class="py-2">
                Friend of: <%= profile.FRIEND_COUNT %>
            </div> 
            <!-- last visit -->
            <div class="py-2">
                Last visit: <%- profile.LAST_VISIT === 'now'? "<span class='text-success'>online now</span>" : profile.LAST_VISIT + ' ago' %>
            </div> 
            <!-- registered -->
            <div class="py-2">
                Registered: <%= profile.REGISTERED === 'now'? 'now' : profile.REGISTERED + ' ago' %>
            </div> 
            <!-- blog entries -->
            <div class="py-2">
                <a href="<%= profile.HANDLE %>/blog" >Blog entries(<%= profile.BLOG_COUNT %>)</a>
            </div>
            <!-- admin button -->
            <% if(user != null && user.isAdmin && user.handle !== profile.HANDLE) { %>
                <div class="py-2">
                        <button <%- `onclick="updateAdmin(${ profile.RATING !== null }, '${profile.HANDLE}')"`%> class="btn <%= profile.RATING == null?'btn-danger' : 'btn-success'%>"> 
                            <%= profile.RATING == null? 'Remove Admin' : 'Make Admin' %>
                        </button>
                    </form>
                </div>
            <% } %>
        </div>
        <!-- right side -->
        <div class="col-4 mx-0 px-0 text-right">
            <div class="border text-center mx-3 my-2 px-0">
                <!-- image -->
                <% if(profile.PICTURE == null){ %>
                    <img src="/images/no-profile-picture.jpg" alt="no picture" class=" img-fluid m-2">  
                <% } else { %>
                    <img src="/public-images/<%= profile.PICTURE %>" alt="profile picture" class="my-image img-fluid m-2">  
                <% } %>
                <!-- change picture -->
            </div>
            
        </div>
    </div>
</div>
<% if(user !== null) { %>
<%- `<script> let userHandle = '` + user.handle +  `'</script>` %>
    <script>
        function updateFriend(handle){
            let btn = document.getElementById('friendBtn');
            let add = (btn.innerHTML.trim() == 'Add friend');

            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/profile/" + userHandle + "/friends", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ addFriend : add, handle : handle}));

            btn.innerHTML = ((add)? 'Remove friend' : 'Add friend');
        }
        function updateAdmin(type, handle){
            let str;
            if(type)
                str = 'You are about to make this user an admin. Are you sure?';
            else
                str = 'You are about to make this user a regular user. Are you sure?';
            if(confirm('ADMIN ACTION\n' + str.toUpperCase())){
                let xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function(){
                    if(xhttp.readyState == 4)
                        window.location.href = "/profile/"+handle;
                }
                xhttp.open("POST", "/profile/" + handle + "/admin", true);
                xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhttp.send();
            }
        }
    </script>
<% } %>