<!-- Submission list -->
<div class="card border">
    <div class="card-header my-card-header">
        <%= listHeader %>
    </div>
    <table width="100%" class="table table-sm table-bordered my-card-no-bottom my-small-text">
        <!-- list header -->
        <tr>
            <th width="10%" class="text-center">
                #
            </th>
            <th width="16%" class="text-center">
                When
            </th>
            <th width="14%" class="text-center">
                Who
            </th>
            <th width="15%" class="text-center">
                Problem
            </th>
            <th width="10%" class="text-center">
                Lang
            </th>
            <th width="13" class="text-center">
                Verdict
            </th>
            <th width="10" class="text-center">
                Time
            </th>
            <th width="10" class="text-center">
                Memory
            </th>
        </tr>
        <!-- each row -->
        <% submissions.forEach(submission => { %>
        <tr>
            <td class="my-td-center">
                <a href="/contest/<%= submission.CONTEST_ID %>/submissions/<%= submission.ID %>">
                    <%= submission.ID %>
                </a>
            </td>
            <td class="my-td-center">
               <%= submission.SUBMISSION_TIME.toLocaleString('en-GB') %> 
            </td>
            <td class="my-td-center">
                <% if(submission.AUTHOR_TYPE == 'TEAM'){ %>
                    <a href="/team/<%= submission.AUTHOR_ID %>" style="color:black;" class="my-link my-handle">
                        <%= submission.HANDLE %>
                    </a>
                <% } else { %>
                    <%- include('../../../partials/handle', {handle : submission.HANDLE, color : submission.COLOR}) %>
                <% } %>
            </td>
            <td class="my-td-center">
                <a href="/contest/<%= submission.CONTEST_ID %>/problem/<%= String.fromCharCode(65 + submission.PROB_NUM) %>">
                    <%= submission.NAME %>
                </a>
            </td>
            <td class="my-td-center">
                <%= submission.LANGUAGE %>
            </td>
            <td class="my-td-center">
                <% if(submission.RESULT == null) { %>
                    <span class="text-muted">
                        Judging
                    </span>
                <% } else { %>
                    <span class="<%= submission.RESULT == 'AC' ? 'text-success' : 'text-danger' %>">
                        <%= submission.RESULT %><%= ['AC', 'SLE', 'CE', 'JE'].includes(submission.RESULT)? '' : ` on test ${submission.MAX_TEST}` %>
                    </span>
                <% } %>
            </td>
            <td class="my-td-center">
                <%= [null, 'SLE', 'CE', 'JE'].includes(submission.RESULT)? '-' : submission.TIME + ' ms' %>
            </td>
            <td class="my-td-center">
                <%= [null, 'SLE', 'CE', 'JE'].includes(submission.RESULT)? '-' : submission.MEMORY*1000 + ' KB' %>
            </td>
        </tr>
        <% }) %>
    </table>
</div>