<div class="pl-2">
    <b>
        Sample:
    </b>
    <ol>
        <% sampleTests.forEach(test =>{ %>
            <li class="m-2">
                <div class="row">
                    <div class="col-2 pt-1">
                        Input: <a href="./tests/<%=test.INPUT_URL%>" ><%= test.TEST_NUMBER %>.in</a> 
                    </div>
                    <div class="col-2 pt-1">
                        Output: <a href="./tests/<%=test.OUTPUT_URL%>" ><%= test.TEST_NUMBER %>.out</a>
                    </div>
                    <div class="col-8 text-right">
                        <button class="btn btn-danger py-1" <%- `onclick="deleteTest(this,'SAMPLE',${test.TEST_NUMBER})"` %>>
                            Delete Sample <%= test.TEST_NUMBER %>
                        </button>
                    </div>
                </div>
            </li>
        <% }) %>
    </ol>
    <b>
        Main:
    </b>
    <ol>
        <% mainTests.forEach(test =>{ %>
            <li class="m-2">
                <div class="row">
                    <div class="col-2 pt-1">
                        Input: <a href="./tests/<%=test.INPUT_URL%>" ><%= test.TEST_NUMBER %>.in</a> 
                    </div>
                    <div class="col-2 pt-1">
                        Output: <a href="./tests/<%=test.OUTPUT_URL%>" ><%= test.TEST_NUMBER %>.out</a>
                    </div>
                    <div class="col-8 text-right">
                        <button class="btn btn-danger py-1" <%- `onclick="deleteTest(this,'MAIN',${test.TEST_NUMBER})"` %>>
                            Delete Main <%= test.TEST_NUMBER %>
                        </button>
                    </div>
                </div>
            </li>
        <% }) %>
    </ol>

    <hr>

    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="test_type" class="col-1 pt-1">
                Type:
            </label>
            <select name="test_type" class="form-control col-3">
                <option value="MAIN" selected>Main</option>
                <option value="SAMPLE">Sample</option>
            </select>
        </div>
        <div class="form-group">
            <label for="input">Input File:</label>
            <input type="file" name="input" required>
            <label for="output">Output File:</label>
            <input type="file" name="output" required>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Add Test" class="btn btn-primary">
        </div>
    </form>
</div>

<script>
    function deleteTest(node, type, number){
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            let response = JSON.parse(this.responseText);
            if(response.message == 'deleted'){
                window.location.href = response.url;
            }
        };
        xhttp.open("DELETE", window.location.href, true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify({type : type, testNum : number}));
    }
</script>