<!-- user list -->
<div class="card border">
    <div class="card-header my-card-header">
        <%= listHeader %>
    </div>
    <table class="table table-sm table-bordered my-card-no-bottom">
        <!-- list header -->
        <tr>
            <th width="8%" class="text-center">#</th>
            <th width="80%" class="pl-3">who</th>
            <th width="13%" class="text-center">rating</th>
        </tr>
        <!-- each row -->
        <% for(let i = 0; i<userList.length; i++){ %>
            <tr class="<%= (i%2 == 1)? 'my-row-alter' : '' %> <%= (user !== null && user.handle == userList[i].HANDLE)? 'my-row-selected' : '' %>" >
                <td class="text-center">
                    <%= userList[i].RANK_NO %>
                </td>
                <td class="pl-3" >
                    <%- include('../../../partials/handle', {handle : userList[i].HANDLE, color : userList[i].COLOR}) %>
                </td>
                <td class="text-center">
                    <%= userList[i].RATING %>
                </td>
            </tr>
        <% } %>
    </table>
</div>