<div class="px-3 col-12" style="min-height: 60vh;">
    <div class="card border col-12 px-0">
        <div class="card-header my-card-header py-2 text-center">
            Submission Info
        </div>
        <table width="100%" class="table table-sm table-bordered my-card-no-bottom my-small-text">
            <!-- list header -->
            <tr>
                <th width="8%" class="text-center">
                    #
                </th>
                <th width="12%" class="text-center">
                    Who
                </th>
                <th width="12%" class="text-center">
                    Problem
                </th>
                <th width="10%" class="text-center">
                    Lang
                </th>
                <th width="14" class="text-center">
                    Verdict
                </th>
                <th width="8" class="text-center">
                    Time
                </th>
                <th width="8" class="text-center">
                    Memory
                </th>
                <th width="14%" class="text-center">
                    Sent
                </th>
                <th width="14%" class="text-center">
                    Judged
                </th>
            </tr>
            <tr>
                <td class="my-td-center">
                    <%= submission.ID %>
                </td>
                <td class="my-td-center">
                    <% if(submission.AUTHOR_TYPE == 'TEAM'){ %>
                        <%- include('../partials/handle', {id : submission.AUTHOR_ID, handle : submission.HANDLE}) %>
                    <% } else { %>
                        <%- include('../partials/handle', {handle : submission.HANDLE, color : submission.COLOR}) %>
                    <% } %>
                </td>
                <td class="my-td-center">
                    <a href="/contest/<%= submission.CONTEST_ID %>/problem/<%= String.fromCharCode(submission.PROB_NUM + 65) %>">
                        <%= submission.CONTEST_ID %><%= String.fromCharCode(submission.PROB_NUM + 65) %> - <%= submission.NAME %>
                    </a>
                </td>
                <td class="my-td-center">
                    <%= submission.LANGUAGE %>
                </td>
                <td class="my-td-center">
                    <% if(submission.RESULT == null) { %>
                        <span class="text-muted">
                            Judging
                        </span>
                    <% } else { %>
                        <span class="<%= submission.RESULT == 'AC' ? 'text-success' : 'text-danger' %>">
                            <%= submission.RESULT %><%= ['AC', 'SLE', 'CE', 'JE'].includes(submission.RESULT)? '' : ` on test ${submission.MAX_TEST}` %>
                        </span>
                    <% } %>
                </td>
                <td class="my-td-center">
                    <%= submission.TIME %> ms
                </td>
                <td class="my-td-center">
                    <%= submission.MEMORY*1000 %> KB
                </td>
                <td class="my-td-center">
                    <%= submission.SUBMISSION_TIME.toLocaleString('en-GB') %> 
                </td>
                <td class="my-td-center">
                    <%= submission.JUDGE_TIME.toLocaleString('en-GB') %> 
                </td>
            </tr>
        </table>
    </div>
    <!-- Code -->
    <div class="card border col-12 px-0 mt-5">
        <div class="card-header my-card-header px-3 py-2">
            <b class="text-primary">
                Source
            </b>   
        </div>
        <div class="card-body px-3 py-2">
            <pre><code style="background-color: white;"><%= code %></code></pre>
        </div>
    </div>
</div>